@import "../../colors";
@import "../../frameless";

.download {
    .older-version {
        padding-right: 24px;
        p {
            color: $link-blue;
            font-weight:600;
        }
        img {
            $img-border: rgba(0, 0, 0, .05);
            border: 2px solid $img-border;
            border-radius: 8px;
            background-color: $ui-white;
        }
    }
    .extension-header {
        background-color: $ui-blue;

        .extension-info {
            padding-right: $cols1;
            max-width: $cols7 + ($gutter / $em);
        }

        .extension-image {
            max-width: $cols4;
        }
        .download-copy {
            margin-bottom: 5rem;
            align-items: flex-start;

            h1, h2 {
                display: flex;
                margin-bottom: 2rem;
                color: $ui-white;

                img {
                    padding-right: .5rem;
                    max-height: 100%;
                }
            }

            .extension-copy {
                margin-bottom: 5rem;
                align-items: flex-start;

                h1, h2 {
                    display: flex;
                    margin-bottom: 2rem;
                    color: $ui-white;

                    img {
                        padding-right: .5rem;
                        max-height: 100%;
                    }
                }

                span {

                }

                a {
                    border-bottom: 1px solid $ui-white;
                    color: $ui-white;
                }
            }
            a {
                border-bottom: 1px solid $ui-white;
                color: $ui-white;
            }
        }
    }
}
